header-logo {
    background-color: transparent;
}
.navbar .navbar-expand-lg .navbar-light  {
    background-color: #093009;
}
li .nav-link, button, .navbar-brand {
    color: white;
    cursor: pointer;
}
li .nav-link:hover, .navbar-brand:hover {
    color: gray;
    cursor: pointer;
}
button:hover {
    color: black;
}
.navbar-toggler-icon, .navbar-toggler, .icon-bar {
    color: white;
    border-color: white;
}