

h1 {
    color: white;
    margin-bottom: 4rem;
    width: 20rem;
}
.img-detail {
    width: 25rem;
    height: 35rem;
    border: 2px solid black ;
    box-shadow: 0px 0px 1px 1px black;
}

.container-detail {
padding-top: 5rem;
}
.table-detail {
    width: 42rem;
    

}
.table-detail tr {
    color: white;
}
.botao-voltar {
    width: 30rem;
    margin-top: 2rem;
}