/* Mobile First */
@media (max-width: 625px) { 
        .card {
            width: 80% !important;
            margin: 0 auto !important;
        }
        h1 {
            text-align: center !important;
        }
}

/* End Of Mobile First */
h1 {
    color: white;
    font-weight: bold;
    text-align: left;
}
.card-text {
    color: white;
}
.card {
    width: 18rem;
}
.card-body, .card-text {
    background: #032202;
}

.card-img-top {
    height: 18rem;
}
/* Paginacao */

.pagination /deep/ .ngx-pagination .current {
    background-color: white;
    color: black;
    font-weight: bold;
  }

  .pagination /deep/ .ngx-pagination li {
    border: 1px solid white;
    
  }
  .pagination /deep/ .ngx-pagination a {
      color: white;
      
  }
  .pagination /deep/ .ngx-pagination span {
      background-color: transparent;
  }


  .pagination /deep/ .ngx-pagination .current span  {
    background-color: white;
}

/* Paginacao Hovers */ 

.pagination /deep/ .ngx-pagination span:hover {
    background-color: transparent;
}
.pagination /deep/ .ngx-pagination a:hover {
    background-color: #369457;
    
}
