/* Mobile First */
@media (max-width: 576px) { 
        .card {
            width: 90%;
        }
}

/* End Of Mobile First */
h1 {
    color: white;
    font-weight: bold;
    text-align: left;
}
.card-text {
    color: white;
}
.card {
    width: 15rem;
}
.card-body, .card-text {
    background: #032202;
}

.card-img-top {
    height: 20rem;
}